
table,th{
    border: firebrick;
    border-width: 10px;
    margin-left:200px;
    background-color: khaki;
    border-color: black;
    border:solid;
    

}

tr,td,th{
    border-width: 2px;
    border:double;
    text-align: center;
}

style{
    text-decoration-color: sienna;
}




